/*-------font Modak and DynaPuff-------*/
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sigmar {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 500;
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

/*-------font Modak and DynaPuff-------*/

body {
  padding-top: 10px;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: #ffd6eb;
  color: #7a1c48;
  overflow: auto;
}

.logo a {
  text-decoration: none;
  color: #fdb8d9;
}


/* --------Header-------------- */
header {
  background-color: #d85a8d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 60px;
  height: 60px;
}

header h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 1;
  top: 3px;
  margin: 0;
  line-height: 1;
  position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;  /* đẩy về phía phải */
    gap: 60px;                  /* khoảng cách giữa Features và About us */
    margin-right: 135px; 
}

nav a {
 font-family: "Maven Pro", sans-serif;
 color: white;
 margin-left: 10px;
 text-decoration: none;
 font-weight: 500;
 transition: opacity 0.3s;
 letter-spacing: 4px; 
}

nav a:hover {
 opacity: 0.8;
}


nav a#aboutBtn {
 margin-left: 0;
}


/* -------------------- POPUP ABOUT US -------------------- */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #f4a7cd;
  backdrop-filter: blur(6px);
  width: 75%;
  max-width: 800px;
  border-radius: 35px;
  padding: 40px 20px;
  position: relative;
  animation: popupFade 0.3s ease-out;
  border: 4px solid #d85a8d;
  transition: box-shadow 0.4s ease-in-out,
    transform 0.2s ease-in-out;
}

.popup-inner {
  text-align: center;
  color: #7a1c48;
  font-family: "Maven Pro", sans-serif;
}

.popup-title {
  font-family: "Sigmar One", sans-serif;
  font-size: 45px;
  margin: 0 0 10px 0;
  color: #7a1c48;
}

.popup-desc {
  font-size: 20px;
  margin: 10px 0 25px 0;
  padding: 0 30px;
}

.popup-members {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 22px;
  font-weight: 700;
}

.popup-members li {
  margin: 8px 0;
}

.kitty-left {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 140px;
}

.kitty-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 140px;
}
 
/* --- DROPDOWN MENU FOR FEATURES --- */
.dropdown {
   position: relative;
   display: inline-block;
}


.features-btn {
   color: white;
   text-decoration: none;
   font-family: "Maven Pro", sans-serif;
   font-weight: 500;
   cursor: pointer;
}


.dropdown-content {
   min-width: max-content;
   width: auto;
   left: 50%;
   transform: translateX(-50%);
    display: none;
   position: absolute;
   background-color: #fce0ef;
   min-width: 260px;
   box-shadow: 0 8px 16px rgba(0,0,0,0.2);
   z-index: 99999;
   border-radius: 12px;


   padding: 10px 0;          /* thêm khoảng trên/dưới */
   text-align: center !important;   
}


.dropdown-content a {
   color: #7a1c48;
   text-decoration: none;
   display: block;
   font-family: "Maven Pro", sans-serif;
   font-size: 1rem;


   padding: 10px 20px;        /* dãn dòng */
   line-height: 1.4;          /* tăng chiều cao dòng */
   letter-spacing: 0.5px;
   text-align: center !important;
}


.dropdown-content a:hover {
   background-color: #ffd6eb;
}


.dropdown:hover .dropdown-content {
   display: block;
}


.dropdown:hover .features-btn {
   opacity: 0.8;
}
/* --- DROPDOWN MENU FOR FEATURES --- */



/* -------------------- COACH MAIN CONTENT -------------------- */
.main-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 150px auto 60px;
  background: #ffe3f1;
  border: 4px solid #d66291;
  border-radius: 35px;
  padding: 30px 40px 60px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.swap-main-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.swap-header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px auto;
  text-align: left;
  padding: 40px 20px;
}

.swap-title {
  font-family: "Alfa Slab One", serif;
  font-size: 3rem;
  color: #7a1c48;
  margin: 0;
  line-height: 1.3;
  align-items: center;
  text-align: center;
}

.swap-divider {
  margin-top: 25px;
  height: 4px;
  width: 100%;
  background-color: #b05672;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

/* --- Input block --- */
.swap-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 25px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.swap-input-block {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: none;
  padding-top: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-group {
  display: grid;
  grid-template-columns: 280px 1fr;
  align-items: center;
  gap: 40px;
  padding-left: 10px;

}

.form-group label {
  width: 300px;
  font-family: "Maven Pro", sans-serif;
  font-size: 23px;
  color: #7a1c48;
  text-align: left;
  letter-spacing: 0.5px;
  margin-right: 20px;
  line-height: 1.4;
  font-weight: 100;
}

.form-group input {
  width: 600px;
  height: 48px;
  padding: 0 18px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #f187ac;
  color: white;
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
  appearance: none;
}

.autocomplete-box {
    position: absolute;
    top: 100%;             /* nằm ngay dưới input */
    left: 330px;
    width: 65%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-height: 180px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;  
    font-family: "Maven Pro", sans-serif;
} 

.form-group {
    position: relative;   /* giúp dropdown bám theo input */
}

.autocomplete-item {
    padding: 10px 14px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background: #ffe4f1;
}

.form-group input::placeholder {
  color: #ffddea;
  opacity: 0.9;

}

/* --- Nút Tính toán --- */
.swap-btn {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  width: 208px;
  padding: 16px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 35px;
  background: #c95178;
  color: #ffe5ec;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 0 #8d3550;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.swap-btn:hover {
  background: #e86ca1;
}

.swap-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #8d3550;
}

/* ========================================= */
/*             RESULT — LEFT VALUE           */
/* ========================================= */
.swap-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.algorithm-result-box {
  text-align: center;
}

.result-value {
  font-size: 3rem;
  font-family: "Modak", system-ui;
  color: #c2436b;
}

/* ========================================= */
/*             RIGHT RESULT BLOCK            */
/* ========================================= */
.activity-block {
  padding: 30px;
  text-align: center;
}

.block-title {
  font-family: "Alfa Slab One", serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #943055;
}

.block-icon {
  width: 80px;
  margin: 10px 0 20px;
}

.display-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}

.display-data {
  font-size: 2rem;
  color: #b23a6b;
  margin-bottom: 10px;
}

.time-data {
  font-size: 2.4rem;
}

/* ========================================= */
/*                 WARNING                   */
/* ========================================= */
.warning-label {
  color: #ae1f52;
  font-weight: bold;
  margin-top: 15px;
}

/* Popup kết quả */
.result-box {
  width: 380px;
  background: #ffe6f2;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  position: relative;
  font-family: "Maven Pro", sans-serif;
}

.result-line {
  font-size: 18px;
  margin: 10px 0;
  color: #c24b6e;
  font-weight: 600;
}

.warning-text {
  color: #d9534f;
  font-size: 16px;
  margin-top: 10px;
}

.close-btn {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  width: 100px;
  padding: 16px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 35px;
  background: #c95178;
  color: #ffe5ec;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 0 #8d3550;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.close-btn:hover {
  background: #ff4f8a;
}


/* ========================================= */
/*                   POPUP                   */
/* ========================================= */
.result-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  /* lớn hơn About Us */
}

.result-gif {
  width: 180px;
  /* chỉnh kích thước GIF */
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  /* căn giữa + cách dưới */
  animation: floatKitty 4s ease-in-out infinite alternate,
    restartGif 12s linear infinite;
}

@keyframes restartGif {
  0% { opacity: 1; }
  98% { opacity: 1; }
  99% { opacity: 0; }  
  100% { opacity: 1; }
}

.result-popup-title {
  font-family: "Alfa Slab One", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 1;
  top: 3px;
  margin: 0;
  line-height: 1;
  position: relative;
}

.result-line1 {
  color: #c24b6e;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.result-popup-box {
  background: #f4a7cd;
  padding: 35px 25px;
  width: 500px;
  border-radius: 28px;
  text-align: center;
  border: 4px solid #d85a8d;
  animation: popupFade .25s ease-out;
}